<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h2>中餐厅嘉宾列表</h2>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>名字</th>
        <th>角色</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="guest:${guestlist}">
            <td th:text="${guest.name}"></td>
            <td th:text="${guest.role}"></td>
        </tr>

    </tbody>
</table>
<a th:href="@{/guest/toadd}">add</a>
</body>
</html>