<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body class="container">
<h2>中餐厅嘉宾列表</h2>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>名字</th>
        <th>角色</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="guest:${guestlist}">
            <td th:text="${guest.id}"></td>
            <td th:text="${guest.name}"></td>
            <td th:text="${guest.role}"></td>
<!--            <td class="col-sm-2">-->
<!--                <a class="btn btn-info" th:href="@{/guest/toupdate/}+${guest.name}">编辑</a>-->
<!--                <a class="btn btn-info" onclick="del(this)" th:attr="del_url=@{/guest/}+${guest.name}"  >删除</a>-->
<!--            </td>-->


        </tr>

    </tbody>
</table>
<!--<div class="form-group">-->
<!--    <div class="col-sm-2 control-label">-->
<!--        <a href="/guest/toAdd" th:href="@{/guest/toadd}"-->
<!--           class="btn btn-info">添加</a>-->
<!--    </div>-->
<!--</div>-->
</body>

<!--删除按钮借助的表单-->
<!--<form method="post" id="del_form">-->
<!--    <input type="hidden" name="_method" value="delete">-->
<!--</form>-->


<!--<script type="text/javascript">-->
<!--    function del(o){-->
<!--        //方法一-->
<!--        // $("#del_form").prop("action",$(o).attr("del_url")).submit()-->

<!--        // 方法二-->
<!--        var url=$(o).attr("del_url");-->

<!--        $.ajax({-->
<!--            type:"POST",-->
<!--            data:{_method : "DELETE"},-->
<!--            url:url,-->
<!--            success:function(data){-->
<!--                // setTimeout("window.location.reload()",1000)-->
<!--                $(o).parents("tr").remove();-->

<!--            }-->
<!--        });-->


<!--    }-->

<!--</script>-->
</html>